<p>hero-detail works!</p>
<p routerLink="/dashboard" class="cursor-pointer">Back</p>
<div class="flex-conatiner flex-column v-align-c detail-box">
    <div class="flex-conatiner hero cursor-pointer">
        <div class="flex-conatiner flex-column">
            <div>Dheeraj</div>
            <div>30</div>
            <div>Front End Developer</div>
            <div>+971 581525828</div>
        </div>
        <div>
            <img src="../../assets/images/photo.jpeg">
        </div>
    </div>
</div>
