.flex-conatiner {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer;
}

.v-align-c {
    align-items: center;
}

.h-align-c {
    justify-items: center;
}